@import "@styles/mixins.scss";

.event-monitor {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modal--event-monitor {
    min-width: 360px;
}

.module-events {
    font-size: 12px;
}
.module-events__event {
    margin-bottom: 12px;
}
.module-events__event-input {
    float: left;
    position: relative;
    top: -4px;
    margin-right: 6px;
}
