<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block styles %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}

<script src="js/runtime.js"></script>
<script src="js/vendors.js"></script>

{% block scripts %}
{% endblock %}

</body>
</html>
