{% extends './_layout.njk' %}

{% block content %}
    <div id="devpanel"></div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="css/devpanel.css">
{% endblock %}

{% block scripts %}
    <script src="js/devpanel.js"></script>
{% endblock %}
