{% extends './_layout.njk' %}

{% block content %}
    <main id="content-root"></main>
    <section id="modal-root"></section>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="css/devpanel.css">
{% endblock %}

{% block scripts %}
    <script src="js/devpanel.js"></script>
{% endblock %}
