{% extends './_layout.njk' %}

{% block content %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="css/devtools.css">
{% endblock %}

{% block scripts %}
    <script src="js/devtools.js"></script>
{% endblock %}
